{% extends 'base.html' %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %} - Zimbabwe Food Delivery{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow">
                <div class="card-body p-4 text-center">
                    <i class="fas fa-envelope fa-4x text-primary mb-4"></i>
                    <h2 class="mb-4">{% trans "Password Reset E-mail Sent" %}</h2>
                    
                    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                    
                    <div class="mt-4">
                        <a href="{% url 'account_login' %}" class="btn btn-primary">{% trans "Return to Sign In" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}